strict-peer-dependencies=false

# Needed for Visulima to work properly. Don't remove the lines.
save-exact=true
strict-peer-dependencies=false

public-hoist-pattern[]=*types*
public-hoist-pattern[]=secure-password

# Needed for Visulima to work properly. Don't remove the lines.

